.carousel-item {
        height: 80vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .carousel-caption {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 2rem;
        border-radius: 10px;
      }

      body {
        background-color: #0ad611;
      }

      #linkedin,
      #github {
        width: 42px;
        height: 42px;
      }

      .text-container {
        text-align: center;
      }

      #thank-you-text {
        top: 1000px;
        font-weight: 400px;
        font-size: clamp(2.5rem, 10vw, 8rem);
        position: relative;
        color: #11f756;
        text-shadow: 0 0 5px #090b0a, 0 0 15px #050706, 0 0 30px #00ff99;
        cursor: default;
        text-transform: uppercase;
        white-space: nowrap;
      }

      .thank-you-text span {
        display: inline-block;
        position: relative;
        min-width: 0.5ch;
        will-change: contents;
      }
       @import url(https://fonts.googleapis.com/css?family=Raleway);
       body{background: #f9f9f9;font-size: 16px;font-family: 'Raleway', sans-serif}.container{margin-top: 200px}.title{color: #1a1a1a;text-align: center;margin-bottom: 10px}.content{position: relative;width: 90%;max-width: 400px;margin: auto;overflow: hidden}.content .content-overlay{background: rgba(0,0,0,0.7);position: absolute;height: 99%;width: 100%;left: 0;top: 0;bottom: 0;right: 0;opacity: 0;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s}.content:hover .content-overlay{opacity: 1}.content-image{width: 100%}img{box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);border-radius: 5px}.content-details{position: absolute;text-align: center;padding-left: 1em;padding-right: 1em;width: 100%;top: 50%;left: 50%;opacity: 0;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s}.content:hover .content-details{top: 50%;left: 50%;opacity: 1}.content-details h3{color: #fff;font-weight: 500;letter-spacing: 0.15em;margin-bottom: 0.5em;text-transform: uppercase}.content-details p{color: #fff;font-size: 0.8em}.fadeIn-bottom{top: 80%}