body{
        background-color: grey;
        }
        .contact{
            text-align: center;
        }
        .adresse{
            text-align: center;
        }
        .phone{
            text-align: center;
        }
        .email{
            text-align: center;
        }
        .form{
            text-align: center;
        }